.form-card{
    padding: 2em !important;
  }
  
  .form-label{
    width: 80%;
  }

  input.form-control{
    margin-bottom: 10px;
  }
  
  .form-col{
    /* position: absolute; */
    align-self: center;
    z-index: 3;
  }