.bar-chart{
    background-image: linear-gradient(310deg, #cb0c9f 0%, #cb0c9f 100%);
    width: 100%;
    border-radius: 0.5em;
  }

div.card{
  min-height: 97%;
  background-color: #fff;
}

.stat{
  margin: 2px;
  padding: 1px;
}

.bar-chart label{
  width: max-content;
  color: #ffb997;
}

.bar{
  background-color: #0b032d; 
  border-radius: 0.5em;
  padding: 0;
}