.form-card{
    padding: 2em !important;
  }
  
  .form-label{
    width: 80%;
  }

  input.form-control{
    margin-bottom: 10px;
  }
  
  .form-col{
    /* position: absolute; */
    align-self: center;
    z-index: 3;
    /* height: 80%; */
  }

  .table-wrapper-scroll-y{
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    
    /* width: 600px; */
  }

  .table-responsive{
    margin-top: 5% !important;
  }